################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
/CaseBusiness/bin
/CaseBusiness/obj
/CaseDBSource/bin
/CaseDBSource/obj
/CasePortal/bin
/CasePortal/obj
/CaseServicoMensageria/bin
/CaseServicoMensageria/obj
/CaseServicoScheduler/bin
/CaseServicoScheduler/obj
/SMS.Api/bin
/SMS.Api/obj
/SMS.Core/bin
/SMS.Core/obj
/.vs
/bin/Debug
/obj
/obj/Debug
/packages
*.log
/bin/Release
/obj/Release
*.user
*.vspscc
*.dll
*.pdb
/SMS.Api/obj/Debug/netcoreapp2.1
/SMS.Api/obj
/SMS.Core/obj
/MotorFinanceiro.Retencao.API/bin
/MotorFinanceiro.Retencao.API/obj
/SMS.Api/bin
/SMS.Api/obj
/SMS.Core/obj
/SMS.Core/bin
*.cache
